* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* BACKGROUND */

.ms-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #DADBD4;
    position: relative;

}

.ms-background-green {
    height: 20vh;
    width: 100%;
    background-color: #199688;
}


/* WEBAPP */

.wa-container {
    position: absolute;
    z-index: 2;
    height: 80vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    background-color: white;

}


/* SIDEBAR */

#side{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wa-profile {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
}

.wa-profile-back {
    background-color: #EAEAEA;
}

.wa-profile img{
    width: 70%;
    object-fit: cover;
    border-radius: 50px;
}

.wa-notifications {
    background-color: #8EDAFB;
}

.wa-people{
    flex-grow: 1;
    border-bottom: 1px solid #EAEAEA;
    overflow: scroll;
}

.wa-usermess {
    display: flex;
    flex-direction: column;
}

.wa-times {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


/* ELEMENTS */

.icon {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wa-col {
    display: flex;
    flex-direction: column;
}

.fa-bell {
    color: white;
    border-radius: 50px;
    font-size: 20px;
}


